# Python virtual environment
venv/
/venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables file
.env

# IDE and editor specific files
.idea/
.vscode/
*.swp